:root {
    --font1: 'Urbanist', sans-serif;
    --font2: 'PokemonGB', sans-serif;
    --bg-main: #2B2B2B;
    --bg-card: #444444;
    --btn-card: #D32F2F;
    --hover: #B71C1C;
    --read-save: #A4C639;
    --text-main: #FFFFFF;
    --victory: #ffc60a;
}

body{
    background-color: var(--bg-main);
    
}

h1{
    font-size: 50px;
    font-family: var(--font1);
    color: var(--text-main);
    margin-top: 20px;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#saveImportLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    text-align: center;
    background-color: var(--hover);
    color: whitesmoke;
    font-family: var(--font2);
    height: 100px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px var(--hover);
    transition: 0.5s;
}

#saveImportLabel:hover{
    box-shadow: 0px 0px 30px 0px var(--hover);
    cursor: pointer;
}

#saveImportLabel:active{
    transform: scale(0.90);
}

#saveImportText{
    height: 300px;
    width: 150px;
    text-decoration: none;
    color: whitesmoke;
}

.trainerCardTemplate{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 12px 0px var(--hover);
    transition: box-shadow 1s ease;
    height: 368px;
    width: 500px;
    gap: 143px;
}

.trainerCardTemplate.show-shadow {
    box-shadow: 0px 0px 10px 0px var(--victory);
}

.trainerCardTemplate img{
    position: absolute;
    z-index: -1;
    height: 368px;
    width: 500px;
}

#save_data{
    position: relative;
    top: 37px;
    left: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#trainer_name{
    position: relative;
    height: 16px;
    width: 184px;
    top: 2px;
    left: 0px;
    font-family: var(--font2);
    color: var(--bg-main);
}

#trainer_money{
    position: relative;
    height: 16px;
    width: 184px;
    font-family: var(--font2);
    color: var(--bg-main);
    left: 42px;
}

#trainer_time{
    height: 16px;
    width: 184px;
    font-family: var(--font2);
    color: var(--bg-main);
}

#badge_block{
    width: 304px;
    height: 120px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

#badge_block li{
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 68px;
    background-color: var(--hover);
    opacity: 40%;
    color: var(--btn-card);
    left: -5px;
    top: 4px;
}

.info_container{
    display: flex;
    gap: 30px;
}

.pokedex_template{
    font-family: var(--font2);
    height: 244px;
    width: 271px;
    box-shadow: 0px 0px 12px 0px var(--hover);
    transition: box-shadow 1s ease;
}

.pokedex_template.show-shadow {
    box-shadow: 0px 0px 10px 0px var(--victory);
}

.pokedex_template img{
    z-index: -1;
    position: absolute;
    height: 244px;
    width: 271px;
    background-color: var(--read-save);
}

#seened {
    position: relative;
    display: flex;
    height: 16px;
    width: 50px;
    flex-direction: column;
    text-align: end;
    gap: 28px;
    top: 50px;
    left: 206px;
    font-size: 11px;
    color: var(--bg-main);
}

#alert {
    text-align: center;
    text-indent: -58px;
    line-height: 202px;
    color: var(--bg-main);
}